<!--<div class="container">-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3">
                <div *ngIf="post">
                    <!-- Title -->
                    <header>
                        <h2>
                            <a>
                                <strong>{{post.title}}</strong>
                            </a>
                            <a class="right glyphicon-position">
                                <span class="glyphicon glyphicon-hand-right glyphicon-custom"></span>
                            </a>
                            <a href="#" class="right glyphicon-position mr-10">
                                Next Post
                            </a>
                        </h2>
                    </header>
                    <p>
                        <a>{{post.upvotes}} · upvotes</a>
                        &nbsp;&nbsp;&nbsp;
                        <a>{{post.comments}} · comments</a>
                        <a *ngIf="!currentUser" class="right glyphicon-position" (click)="upvotePost(post.id)">
                            <span class="glyphicon glyphicon-heart glyphicon-custom"></span>
                        </a>
                        <a *ngIf="post.upvoted == '1'" class="right glyphicon-position">
                            <span class="glyphicon glyphicon-heart glyphicon-custom upvoted"></span>
                        </a>
                        <a *ngIf="post.upvoted == '0'" class="right glyphicon-position"
                           (click)="upvotePost(post.id)">
                            <span class="glyphicon glyphicon-heart glyphicon-custom"></span>
                        </a>
                    </p>
                    <div>
                        <a>
                            <img [src]="post.image" [title]="post.title"
                                 class="img-responsive img-post">
                        </a>
                    </div>
                    <!-- Spacing -->
                    <div>
                        <p></p>
                    </div>
                    <!-- Upvote, Downvote, Comment -->
                    <div class="content-spacing"></div>
                </div>

                <div class="row">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="Make this post even cooler!"></textarea>
                                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share
                                </button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>

                <div *ngIf="comments">
                    <div class="row">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list" *ngFor="let comment of comments">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar">
                                            <img
                                                    [src]='comment.avatar'
                                                    [title]='comment.user'
                                                    alt="">
                                        </div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name">
                                                    <a href="#">
                                                        {{comment.user}}
                                                    </a>
                                                </h6>
                                                <a *ngIf="!currentUser" class="right glyphicon-position"
                                                   (click)="upvoteComment(comment.id)">
                                                    <span class="glyphicon glyphicon-heart glyphicon-custom"></span>
                                                </a>
                                                <a *ngIf="comment.upvoted == '1'" class="right glyphicon-position">
                                                    <span class="glyphicon glyphicon-heart glyphicon-custom upvoted"></span>
                                                </a>
                                                <a *ngIf="comment.upvoted == '0'" class="right glyphicon-position"
                                                   (click)="upvoteComment(comment.id)">
                                                    <span class="glyphicon glyphicon-heart glyphicon-custom"></span>
                                                </a>
                                                <span class="date">{{comment.timestamp | date}}</span>
                                                <span class="date">{{comment.upvotes}} · upvotes</span>
                                            </div>
                                            <div class="comment-content">
                                                {{comment.text}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->