<div>
    <!-- Title -->
    <header>
        <h2><a href="#">Title</a></h2>
    </header>
    <!-- Content image -->
    <div>
        <a href="#">
            <img src="https://img-9gag-fun.9cache.com/photo/anbm16o_700b.jpg" alt="">
        </a>
    </div>
    <!-- Spacing -->
    <div>
        <p></p>
    </div>
    <!-- Points, Comments -->
    <p>
        <a href="#">4,835 points</a>
        -
        <a href="#">87 comments</a>
    </p>
    <!-- Upvote, Downvote, Comment -->
    <div>
        <div>
            <ul>
                <li><a class="icon-link" href="">
                    <img class="icon" src="assets/images/like.png" alt="Like">
                </a>
                </li>
                <li><a class="icon-link" href="">
                    <img class="icon" src="assets/images/dislike.png" alt="Dislike">
                </a>
                <li><a class="icon-link" href="">
                    <img class="icon" src="assets/images/comment.png" alt="Comment">
                </a>
            </ul>
        </div>
    </div>
</div>