ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 1vw;
}

.icon {
    width: 3vw;
    height: 6vh;
}

.img-post {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: #737373;
    padding: 2px;
    max-width: 100%;
    width: 55%;
}

.img-responsive {
    display: inline-block;
}

.content-spacing {
    padding-bottom: 5vh;
}

.glyphicon-custom {
    font-size: 30px;
    color: white;
    cursor: pointer;
    text-shadow: -2px 0 #c22025, 0 2px #c22025, 2px 0 #c22025, 0 -2px #c22025;
}

.upvoted {
    color: #c22025;
    cursor: default;
}
