<div class="container">
    <div class="container-fluid">
        <div class="row" *ngIf="posts">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div *ngFor="let post of posts" class="content-spacing fade in"
                         [ngClass]="{'is-active': [post.isActivePost, post.isActiveComment]}">
                        <div>
                            <!-- Title -->
                            <header>
                                <h2>
                                    <a [routerLink]="['/post', post.id]">
                                        <strong>{{post.title}}</strong>
                                    </a>
                                </h2>
                            </header>
                            <!-- Content image -->
                            <div>
                                <a [routerLink]="['/post', post.id]">
                                    <img [src]="post.image" [title]="post.title">
                                </a>
                            </div>
                            <!-- Spacing -->
                            <div>
                                <p></p>
                            </div>
                            <!-- Points, Comments -->
                            <p>
                                <a *ngIf="post.isActivePost" class="mr-10" [routerLink]="['/post', post.id]">{{post.upvotes
                                    + 1}} · upvotes</a>
                                <a *ngIf="!post.isActivePost" class="mr-10" [routerLink]="['/post', post.id]">{{post.upvotes}}
                                    · upvotes</a>
                                <a *ngIf="post.isActiveComment" [routerLink]="['/post', post.id]">{{post.comments + 1}}
                                    ·
                                    comments</a>
                                <a *ngIf="!post.isActiveComment" [routerLink]="['/post', post.id]">{{post.comments}}
                                    ·
                                    comments</a>
                            </p>
                            <!-- Upvote, Downvote, Comment -->
                            <div>
                                <div>
                                    <ul>
                                        <li class="mr-10">
                                            <a *ngIf="!currentUser">
                                                <span class="glyphicon glyphicon-heart glyphicon-custom"></span>
                                            </a>
                                            <a *ngIf="post.upvoted == '0' && !post.isActivePost"
                                               (click)="post.isActivePost = !post.isActivePost; upvote(post.id)">
                                                <span class=" glyphicon glyphicon-heart glyphicon-custom"></span>
                                            </a>
                                            <a *ngIf="post.upvoted == '1' || post.isActivePost">
                                                <span class="glyphicon glyphicon-heart glyphicon-custom upvoted"></span>
                                            </a>

                                        </li>
                                        <li>
                                            <a *ngIf="!showCommentBox" (click)="toggleComment()">
                                                <span class="glyphicon glyphicon-comment glyphicon-custom"></span>
                                            </a>
                                            <a *ngIf="showCommentBox" (click)="toggleComment()">
                                                <span class="glyphicon glyphicon-comment glyphicon-custom upvoted"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row" *ngIf="showCommentBox">
                                <div class="widget-area no-padding blank">
                                    <div class="status-upload">
                                        <form>
                                            <textarea [(ngModel)]="commentText" name="comment"
                                                      placeholder="Make this post even cooler!"></textarea>
                                            <button (click)="post.isActiveComment = !post.isActiveComment; addComment(post.id)"
                                                    type="button"
                                                    class="btn btn-success green">
                                                Submit
                                            </button>
                                        </form>
                                    </div><!-- Status Upload  -->
                                </div><!-- Widget Area -->
                            </div>
                        </div>
                    </div>
                </div>

                <div id="images" class="col-md-5">
                    <div class="fixed">
                        <h2>Top Commented</h2>
                        <div class="item" *ngFor="let post of posts">
                            <a [routerLink]="['/post', post.id]">
                                <img [src]="post.image" [alt]="post.title">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>