.top {
    padding-bottom: 110px;
}

.content-spacing {
    margin-bottom: 10vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 1vw;
}

.icon {
    width: 3vw;
    height: 6vh;
}

img {
    width: 100%;
}