<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div *ngFor="let post of posts" class="content-spacing">
                        <div>
                            <!-- Title -->
                            <header>
                                <h2>
                                    <a [routerLink]="['/post', post.id]">
                                        <strong>{{post.title}}</strong>
                                    </a>
                                </h2>
                            </header>
                            <!-- Content image -->
                            <div>
                                <a [routerLink]="['/post', post.id]">
                                    <img [src]="post.image" [title]="post.title">
                                </a>
                            </div>
                            <!-- Spacing -->
                            <div>
                                <p></p>
                            </div>
                            <!-- Points, Comments -->
                            <p>
                                <a class="mr-10" [routerLink]="['/post', post.id]">{{post.upvotes}} · upvotes</a>
                                <a [routerLink]="['/post', post.id]">{{post.comments}} · comments</a>
                            </p>
                            <!-- Upvote, Downvote, Comment -->
                            <div>
                                <div>
                                    <ul>
                                        <li class="mr-10">
                                            <a *ngIf="upvoted" href="#">
                                                <span class="glyphicon glyphicon-heart glyphicon-custom upvoted"></span>
                                            </a>
                                            <a *ngIf="!upvoted" href="#">
                                                <span class="glyphicon glyphicon-heart glyphicon-custom"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="glyphicon glyphicon-comment glyphicon-custom"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">

                </div>
                <!--<div class="col-md-6">-->
                <!--<h2>Kool, huh?</h2>-->
                <!--<div>-->
                <!--<div class="row">-->
                <!--<div class="comments-container">-->
                <!--<ul id="comments-list" class="comments-list">-->
                <!--<li>-->
                <!--<div class="comment-main-level">-->
                <!--<div class="comment-avatar">-->
                <!--<img src="/assets/images/logo.png">-->
                <!--&lt;!&ndash;[src]='comment.avatar'&ndash;&gt;-->
                <!--&lt;!&ndash;[title]='comment.user'&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="comment-box">-->
                <!--<div class="comment-head">-->
                <!--<h6 class="comment-name">-->
                <!--<a href="#">-->
                <!--miloss-->
                <!--&lt;!&ndash;{{comment.user}}&ndash;&gt;-->
                <!--</a>-->
                <!--</h6>-->
                <!--<a *ngIf="upvoted" class="right glyphicon-position">-->
                <!--<span class="glyphicon glyphicon-heart glyphicon-custom upvoted"></span>-->
                <!--</a>-->
                <!--<a class="right glyphicon-position" *ngIf="!upvoted"-->
                <!--(click)="upvote()">-->
                <!--<span class="glyphicon glyphicon-heart glyphicon-custom"></span>-->
                <!--</a>-->
                <!--<span class="date">-->
                <!--2017-->
                <!--&lt;!&ndash;{{comment.timestamp | date}}&ndash;&gt;-->
                <!--</span>-->
                <!--</div>-->
                <!--<div class="comment-content">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
                <!--Accusantium adipisci earum, itaque quae qui quia voluptates! Animi-->
                <!--cum cumque dolorum ducimus, facilis illum libero quam quibusdam-->
                <!--tempora veritatis voluptatibus, voluptatum!-->
                <!--&lt;!&ndash;{{comment.text}}&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


            </div>
        </div>
    </div>
</div>